
<%= tag_cloud @tag_counts %>

<p>
The CSCU offers a library open to undergraduate students to check out books for personal use.
There is no charge for this service; just drop by our office (ECS 331) and ask one of the executives to sign out a book for you.
Our current collection holds <b><%= Book.count %> books</b> and is always growing.
If you have any extra books you would like to donate to our library please Contact Us.
</p>
<p>
To find a book of interest in our collection, delve into the categories above.
</p>
<p>
If our library doesn't have the right book for you, there are plenty of resources in the University Libraries and online.
Of particular interest online are the
<a href="http://en.wikibooks.org/wiki/Wikibooks:Computing_department">Wikibooks Computing Department</a>,
<a href="http://www.computer-books.us/">http://www.computer-books.us/</a>, and
<a href="http://www.programmingbooks.org">http://www.programmingbooks.org</a>.
</p>
